dotenv
annotated-types
anyio
asgiref
beautifulsoup4
bs4
cachetools
certifi
charset-normalizer
click
cloudinary
cmake
colorama
Cython
Django
django-cors-headers
exceptiongroup
face-recognition-models
fastapi
feedparser
filelock
fsspec
fuzzywuzzy
gnewsclient
greenlet
h11
httpcore
httpx
huggingface-hub
idna
joblib
nltk
numpy
overpy
packaging
pandas
path
Pillow
pydantic
pydantic-core
PyJWT
pypng
pyserial
python-dateutil
pytz
PyYAML
qrcode
regex
requests
safetensors
sgmllib3k
six
sniffio
soupsieve
sqlalchemy
sqlparse
starlette
textblob
tokenizers
tqdm
transformers
typing-extensions
tzdata
urllib3
zhipuai
