annotated-types==0.7.0
anyio==4.5.2
asgiref==3.7.2
backports.zoneinfo==0.2.1
beautifulsoup4==4.12.2
bs4==0.0.1
cachetools==5.5.2
certifi==2023.7.22
charset-normalizer==3.2.0
click
cloudinary
cmake
colorama
Cython
Django
django-cors-headers
exceptiongroup
face-recognition-models
fastapi
feedparser
filelock
fsspec
fuzzywuzzy
gnewsclient
greenlet
h11
httpcore
httpx
huggingface-hub
idna
joblib
nltk
numpy
overpy
packaging
pandas
path
Pillow
pydantic
pydantic-core
PyJWT
pypng
pyserial
python-dateutil
pytz
PyYAML
qrcode
regex
requests
safetensors
sgmllib3k
six
sniffio
soupsieve
sqlalchemy
sqlparse
starlette
textblob
tokenizers
tqdm
transformers
typing-extensions
tzdata
urllib3
zhipuai
